version: '3.8'

services:
  codepush-server:
    build: .
    container_name: codepush-server
    restart: unless-stopped
    ports:
      - "3000"
    environment:
      # This activates our new LocalStorage database
      - STORAGE_DIR=${STORAGE_DIR:-/storage}

      # The server URL pointing to localhost or your domain
      - SERVER_URL=${SERVER_URL:-http://localhost:3000}

      # Automatically connect to redis within the docker network
      - REDIS_HOST=${REDIS_HOST:-redis}
      - REDIS_PORT=${REDIS_PORT:-6379}
    volumes:
      # Map the physical host volume to the container
      - ${STORAGE_DIR:-/storage}:/mnt/extra_storage

    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: codepush-redis
    restart: unless-stopped
    ports:
      - "6379"
    volumes:
      - redis_data:/data


volumes:
  redis_data:
